.messageList {
    min-height: 0;
    padding: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    gap: 8px;
    background-image: url(/fondo_Main.png);
    opacity: 0.8;
    background-size: cover;
}