.chatList {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.chatListTop {
    padding: var(--radius-md);
    border-bottom: 1px solid var(--color-border);
}

.brand {
    font-family: var(--font-family-heading);
    color: var(--color-text-primary);
    font-weight: 700;
    margin-bottom: var(--radius-sm);}

.chatItems {
    overflow: auto;
}