.searchBox {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #2a3942;
    background: #202c33;
    color: #e9edef;
    outline: none;
}

.searchBox::placeholder {
    color: #8696a0;
}