.searchBox {
    width: 100%;
    padding: var(--radius-sm) var(--radius-md);
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-bg-surface-2);
    background: var(--color-bg-surface);
    color: var(--color-text-primary);
    outline: none;
}

.searchBox::placeholder {
    color: var(--color-text-muted);
}